In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_excel("WPP2022.xlsx", sheet_name="Medium variant", skiprows=16, na_values='...')
df.head()

,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
0,1,Medium,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,224.626,156.073,78.931,95.683,61.297,152.967,185.961,118.483,0.0,0.0
1,2,Medium,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,203.109,140.347,70.319,85.344,54.517,134.101,163.862,103.099,0.0,0.0
2,3,Medium,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,199.691,137.570,69.039,83.819,53.488,131.360,160.623,100.865,0.0,0.0
3,4,Medium,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,198.580,136.669,68.647,83.311,53.207,130.282,159.250,100.068,0.0,0.0
4,5,Medium,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,196.894,135.239,68.061,82.602,52.741,129.209,157.914,99.248,0.0,0.0

In [9]:
df1 = df[(df['Type'] == 'Country/Area') & (df['Year'] == 2022)]
df1 = df1[[
    'Year',
    'Total Population, as of 1 July (thousands)', 
    'Population Growth Rate (percentage)',
    'Births (thousands)',
    'Crude Birth Rate (births per 1,000 population)',
    'Total Deaths (thousands)',
    'Life Expectancy at Birth, both sexes (years)',
    'Infant Deaths, under age 1 (thousands)',
    'Net Number of Migrants (thousands)',
    'Net Migration Rate (per 1,000 population)',
    'Location code',
    'Parent code',
    'Type',
    'Region, subregion, country or area *'
    ]]

In [10]:
df1

,Year,"Total Population, as of 1 July (thousands)",Population Growth Rate (percentage),Births (thousands),"Crude Birth Rate (births per 1,000 population)",Total Deaths (thousands),"Life Expectancy at Birth, both sexes (years)","Infant Deaths, under age 1 (thousands)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)",Location code,Parent code,Type,"Region, subregion, country or area *"
1900,2022.0,12889.576,2.695,439.648,34.109,94.241,61.977,15.970,2.000,0.155,108,910,Country/Area,Burundi
1979,2022.0,836.774,1.799,24.201,28.887,7.145,63.680,1.102,-2.000,-2.387,174,910,Country/Area,Comoros
2058,2022.0,1120.849,1.374,24.549,21.911,10.041,62.859,0.896,0.900,0.803,262,910,Country/Area,Djibouti
2137,2022.0,3684.032,1.710,104.981,28.426,24.842,66.604,2.995,-17.152,-4.644,232,910,Country/Area,Eritrea
2216,2022.0,123379.924,2.525,3928.445,31.835,801.777,65.645,125.119,-11.999,-0.097,231,910,Country/Area,Ethiopia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22203,2022.0,222.382,1.488,6.024,26.997,1.216,72.598,0.091,-1.500,-6.722,882,957,Country/Area,Samoa
22282,2022.0,1.871,1.069,0.035,18.543,0.014,75.380,0.000,0.000,0.000,772,957,Country/Area,Tokelau
22361,2022.0,106.858,0.858,2.456,22.894,0.739,71.270,0.023,-0.800,-7.458,776,957,Country/Area,Tonga
22440,2022.0,11.312,0.787,0.265,23.318,0.115,64.854,0.005,-0.060,-5.288,798,957,Country/Area,Tuvalu
22519,2022.0,11.572,-0.700,0.135,11.610,0.077,80.015,0.001,-0.136,-11.680,876,957,Country/Area,Wallis and Futuna Islands

In [11]:
from sqlalchemy import create_engine
import pymysql
sqlEngine = create_engine('mysql+pymysql://root:security@127.0.0.1:3306/LifeExpectancy')
df1.to_sql('2022', sqlEngine.connect(), index=False)

237