In [51]:
import pandas as pd

# READ ALL DATA FROM SQL

In [52]:
from sqlalchemy import create_engine
import pymysql
sqlEngine = create_engine('mysql+pymysql://root:security@127.0.0.1:3306/LifeExpectancy')

In [53]:
df1 = pd.read_sql("select * from finall", sqlEngine.connect());

In [54]:
df1.drop('GDP per capita',axis=1,inplace=True)

In [55]:
df1

,Year,"Total Population, as of 1 July (thousands)",Population Growth Rate (percentage),Births (thousands),"Crude Birth Rate (births per 1,000 population)",Total Deaths (thousands),"Life Expectancy at Birth, both sexes (years)","Infant Deaths, under age 1 (thousands)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)",Location code,Parent code,"Region, subregion, country or area *",Expected Years of Schooling,Deaths - HIV/AIDS - Sex: Both - per 100,civ_libs_vdem_owid,region,Access to electricity (% of population),Deaths - Alcohol,Individuals using the Internet (% of population)
0,1990.0,5483.793,2.029,256.200,46.545,104.952,44.860,26.280,-39.996,-7.266,108.0,910.0,Burundi,4.517510,135.58,0.323,Africa,NaN,50.0,0.0
1,1991.0,5594.828,1.981,259.010,46.128,108.890,44.227,26.760,-39.298,-6.999,108.0,910.0,Burundi,4.671400,184.24,0.306,Africa,NaN,50.0,0.0
2,1992.0,5743.085,3.234,261.676,45.702,111.757,43.895,27.178,35.771,6.247,108.0,910.0,Burundi,4.496830,236.44,0.435,Africa,NaN,51.0,0.0
3,1993.0,5555.220,-10.115,271.529,46.026,146.898,37.105,29.204,-686.089,-116.296,108.0,910.0,Burundi,4.789210,271.85,0.434,Africa,NaN,52.0,0.0
4,1994.0,5586.408,11.178,208.200,39.132,100.754,44.080,23.537,516.369,97.054,108.0,910.0,Burundi,4.751546,307.63,0.425,Africa,NaN,53.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7547,2017.0,11.936,-1.106,0.153,12.713,0.081,77.531,0.002,-0.201,-16.706,876.0,957.0,Wallis and Futuna Islands,NaN,NaN,NaN,None,NaN,NaN,NaN
7548,2018.0,11.816,-0.923,0.147,12.381,0.081,77.861,0.002,-0.171,-14.368,876.0,957.0,Wallis and Futuna Islands,NaN,NaN,NaN,None,NaN,NaN,NaN
7549,2019.0,11.714,-0.802,0.144,12.189,0.072,79.617,0.001,-0.171,-14.489,876.0,957.0,Wallis and Futuna Islands,NaN,NaN,NaN,None,NaN,NaN,NaN
7550,2020.0,11.655,-0.215,0.140,11.997,0.080,78.764,0.002,-0.083,-7.096,876.0,957.0,Wallis and Futuna Islands,NaN,NaN,NaN,None,NaN,NaN,NaN
7551,2021.0,11.627,-0.249,0.138,11.816,0.086,78.440,0.001,-0.083,-7.112,876.0,957.0,Wallis and Futuna Islands,NaN,NaN,NaN,None,NaN,NaN,NaN

# READ FEATURE CSV ONE BY ONE

In [56]:
df = pd.read_csv('6maddison-data-gdp-per-capita-in-2011us.csv')

In [57]:
df = df[df['Year']>=1990]

In [60]:
df.drop('417485-annotations',axis=1,inplace=True)

In [61]:
df

            Entity  Year  GDP per capita
40     Afghanistan  1990        963.0000
41     Afghanistan  1991        881.1704
42     Afghanistan  1992        843.8753
43     Afghanistan  1993        578.4027
44     Afghanistan  1994        428.4246
...            ...   ...             ...
19871     Zimbabwe  2014       1594.0000
19872     Zimbabwe  2015       1560.0000
19873     Zimbabwe  2016       1534.0000
19874     Zimbabwe  2017       1582.3662
19875     Zimbabwe  2018       1611.4052

[4953 rows x 3 columns]

# MERGE FEATURE

In [62]:
df_cd = pd.merge(df1, df, how='left', left_on =['Region, subregion, country or area *','Year'], right_on = ['Entity','Year'])

In [63]:
df_cd.drop('Entity',axis=1,inplace=True)

In [64]:
df_cd

,Year,"Total Population, as of 1 July (thousands)",Population Growth Rate (percentage),Births (thousands),"Crude Birth Rate (births per 1,000 population)",Total Deaths (thousands),"Life Expectancy at Birth, both sexes (years)","Infant Deaths, under age 1 (thousands)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)",...,Parent code,"Region, subregion, country or area *",Expected Years of Schooling,Deaths - HIV/AIDS - Sex: Both - per 100,civ_libs_vdem_owid,region,Access to electricity (% of population),Deaths - Alcohol,Individuals using the Internet (% of population),GDP per capita
0,1990.0,5483.793,2.029,256.200,46.545,104.952,44.860,26.280,-39.996,-7.266,...,910.0,Burundi,4.517510,135.58,0.323,Africa,NaN,50.0,0.0,1124.0000
1,1991.0,5594.828,1.981,259.010,46.128,108.890,44.227,26.760,-39.298,-6.999,...,910.0,Burundi,4.671400,184.24,0.306,Africa,NaN,50.0,0.0,1149.7976
2,1992.0,5743.085,3.234,261.676,45.702,111.757,43.895,27.178,35.771,6.247,...,910.0,Burundi,4.496830,236.44,0.435,Africa,NaN,51.0,0.0,1128.3474
3,1993.0,5555.220,-10.115,271.529,46.026,146.898,37.105,29.204,-686.089,-116.296,...,910.0,Burundi,4.789210,271.85,0.434,Africa,NaN,52.0,0.0,1075.6154
4,1994.0,5586.408,11.178,208.200,39.132,100.754,44.080,23.537,516.369,97.054,...,910.0,Burundi,4.751546,307.63,0.425,Africa,NaN,53.0,0.0,1057.6414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7547,2017.0,11.936,-1.106,0.153,12.713,0.081,77.531,0.002,-0.201,-16.706,...,957.0,Wallis and Futuna Islands,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
7548,2018.0,11.816,-0.923,0.147,12.381,0.081,77.861,0.002,-0.171,-14.368,...,957.0,Wallis and Futuna Islands,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
7549,2019.0,11.714,-0.802,0.144,12.189,0.072,79.617,0.001,-0.171,-14.489,...,957.0,Wallis and Futuna Islands,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
7550,2020.0,11.655,-0.215,0.140,11.997,0.080,78.764,0.002,-0.083,-7.096,...,957.0,Wallis and Futuna Islands,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
7551,2021.0,11.627,-0.249,0.138,11.816,0.086,78.440,0.001,-0.083,-7.112,...,957.0,Wallis and Futuna Islands,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN

In [65]:
df_cd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7552 entries, 0 to 7551
Data columns (total 21 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Year                                              7552 non-null   float64
 1   Total Population, as of 1 July (thousands)        7552 non-null   float64
 2   Population Growth Rate (percentage)               7552 non-null   float64
 3   Births (thousands)                                7552 non-null   float64
 4   Crude Birth Rate (births per 1,000 population)    7552 non-null   float64
 5   Total Deaths (thousands)                          7552 non-null   float64
 6   Life Expectancy at Birth, both sexes (years)      7552 non-null   float64
 7   Infant Deaths, under age 1 (thousands)            7552 non-null   float64
 8   Net Number of Migrants (thousands)                7552 non-null   float64
 9   Net Migration Rate (per 1,000 population)         7552 non-null   float64
 10  Location code                                     7552 non-null   float64
 11  Parent code                                       7552 non-null   float64
 12  Region, subregion, country or area *              7552 non-null   object
 13  Expected Years of Schooling                       5309 non-null   float64
 14  Deaths - HIV/AIDS - Sex: Both -  per 100          5490 non-null   float64
 15  civ_libs_vdem_owid                                4952 non-null   float64
 16  region                                            4952 non-null   object
 17  Access to electricity (% of population)           5219 non-null   float64
 18  Deaths - Alcohol                                  5490 non-null   float64
 19  Individuals using the Internet (% of population)  5385 non-null   float64
 20  GDP per capita                                    4232 non-null   float64
dtypes: float64(19), object(2)
memory usage: 1.3+ MB

# WRITE TO SQL

In [66]:
df_cd.to_sql('finall', sqlEngine.connect(), index=False)

7552