In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('13share-of-individuals-using-the-internet.csv')

In [3]:
df = df[df['Year']>=1990]

In [5]:
df.drop('Code',axis=1,inplace=True)

In [15]:
df

            Entity  Year  GDP per capita
0      Afghanistan  1950       1156.0000
1      Afghanistan  1951       1170.0000
2      Afghanistan  1952       1189.0000
3      Afghanistan  1953       1240.0000
4      Afghanistan  1954       1245.0000
...            ...   ...             ...
11221     Zimbabwe  2014       1594.0000
11222     Zimbabwe  2015       1560.0000
11223     Zimbabwe  2016       1534.0000
11224     Zimbabwe  2017       1582.3662
11225     Zimbabwe  2018       1611.4052

[11226 rows x 3 columns]

In [7]:
from sqlalchemy import create_engine
import pymysql
sqlEngine = create_engine('mysql+pymysql://root:security@127.0.0.1:3306/LifeExpectancy')

In [14]:
df = pd.read_sql("select * from gdp", sqlEngine.connect());

In [16]:
df1

,Year,"Total Population, as of 1 July (thousands)",Population Growth Rate (percentage),Births (thousands),"Crude Birth Rate (births per 1,000 population)",Total Deaths (thousands),"Life Expectancy at Birth, both sexes (years)","Infant Deaths, under age 1 (thousands)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)",Location code,Parent code,"Region, subregion, country or area *",Expected Years of Schooling,Deaths - HIV/AIDS - Sex: Both - per 100,civ_libs_vdem_owid,region,Access to electricity (% of population),Deaths - Alcohol,Individuals using the Internet (% of population)
0,1998.0,6035.340,2.697,249.258,41.346,100.355,46.552,24.840,13.841,2.296,108.0,910.0,Burundi,4.600891,393.440000,0.409000,Africa,3.900000,54.000000,0.015843
1,1999.0,6180.180,2.054,260.402,42.005,98.974,47.528,25.018,-34.507,-5.566,108.0,910.0,Burundi,4.563227,389.760000,0.412000,Africa,2.070949,54.000000,0.039204
2,2000.0,6307.659,2.030,268.825,42.473,100.682,47.514,25.348,-40.114,-6.338,108.0,910.0,Burundi,4.525564,377.880000,0.414000,Africa,2.463237,54.000000,0.077248
3,2001.0,6465.729,2.910,277.120,42.882,98.975,48.431,25.344,9.965,1.542,108.0,910.0,Burundi,4.487900,359.790000,0.426000,Africa,2.797420,53.000000,0.106001
4,2002.0,6648.938,2.682,291.756,43.807,96.574,49.891,25.623,-16.881,-2.535,108.0,910.0,Burundi,4.851800,336.720000,0.405000,Africa,3.124018,53.000000,0.118228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7547,2017.0,11.936,-1.106,0.153,12.713,0.081,77.531,0.002,-0.201,-16.706,876.0,957.0,Wallis and Futuna Islands,15.241392,4.598385,0.859478,None,99.707726,4.705320,70.458256
7548,2018.0,11.816,-0.923,0.147,12.381,0.081,77.861,0.002,-0.171,-14.368,876.0,957.0,Wallis and Futuna Islands,15.291852,4.590747,0.854860,None,99.834537,4.599562,71.489309
7549,2019.0,11.714,-0.802,0.144,12.189,0.072,79.617,0.001,-0.171,-14.489,876.0,957.0,Wallis and Futuna Islands,14.795337,4.098601,0.834976,None,99.857647,4.544698,79.738407
7550,2020.0,11.655,-0.215,0.140,11.997,0.080,78.764,0.002,-0.083,-7.096,876.0,957.0,Wallis and Futuna Islands,15.067102,4.408678,0.876523,None,99.842449,4.641493,78.109328
7551,2021.0,11.627,-0.249,0.138,11.816,0.086,78.440,0.001,-0.083,-7.112,876.0,957.0,Wallis and Futuna Islands,15.191371,4.604047,0.857851,None,99.839728,4.641493,76.103109

In [17]:
df_cd = pd.merge(df1, df, how='left', left_on =['Region, subregion, country or area *','Year'], right_on = ['Entity','Year'])

In [19]:
df_cd.drop('Entity',axis=1,inplace=True)

In [77]:
df_cd.rename(columns={'Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)': 'Deaths - Alcohol'}, inplace=True)

In [20]:
df_cd

,Year,"Total Population, as of 1 July (thousands)",Population Growth Rate (percentage),Births (thousands),"Crude Birth Rate (births per 1,000 population)",Total Deaths (thousands),"Life Expectancy at Birth, both sexes (years)","Infant Deaths, under age 1 (thousands)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)",...,Parent code,"Region, subregion, country or area *",Expected Years of Schooling,Deaths - HIV/AIDS - Sex: Both - per 100,civ_libs_vdem_owid,region,Access to electricity (% of population),Deaths - Alcohol,Individuals using the Internet (% of population),GDP per capita
0,1998.0,6035.340,2.697,249.258,41.346,100.355,46.552,24.840,13.841,2.296,...,910.0,Burundi,4.600891,393.440000,0.409000,Africa,3.900000,54.000000,0.015843,808.3241
1,1999.0,6180.180,2.054,260.402,42.005,98.974,47.528,25.018,-34.507,-5.566,...,910.0,Burundi,4.563227,389.760000,0.412000,Africa,2.070949,54.000000,0.039204,772.3172
2,2000.0,6307.659,2.030,268.825,42.473,100.682,47.514,25.348,-40.114,-6.338,...,910.0,Burundi,4.525564,377.880000,0.414000,Africa,2.463237,54.000000,0.077248,739.7609
3,2001.0,6465.729,2.910,277.120,42.882,98.975,48.431,25.344,9.965,1.542,...,910.0,Burundi,4.487900,359.790000,0.426000,Africa,2.797420,53.000000,0.106001,730.4278
4,2002.0,6648.938,2.682,291.756,43.807,96.574,49.891,25.623,-16.881,-2.535,...,910.0,Burundi,4.851800,336.720000,0.405000,Africa,3.124018,53.000000,0.118228,737.2860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7547,2017.0,11.936,-1.106,0.153,12.713,0.081,77.531,0.002,-0.201,-16.706,...,957.0,Wallis and Futuna Islands,15.241392,4.598385,0.859478,None,99.707726,4.705320,70.458256,NaN
7548,2018.0,11.816,-0.923,0.147,12.381,0.081,77.861,0.002,-0.171,-14.368,...,957.0,Wallis and Futuna Islands,15.291852,4.590747,0.854860,None,99.834537,4.599562,71.489309,NaN
7549,2019.0,11.714,-0.802,0.144,12.189,0.072,79.617,0.001,-0.171,-14.489,...,957.0,Wallis and Futuna Islands,14.795337,4.098601,0.834976,None,99.857647,4.544698,79.738407,NaN
7550,2020.0,11.655,-0.215,0.140,11.997,0.080,78.764,0.002,-0.083,-7.096,...,957.0,Wallis and Futuna Islands,15.067102,4.408678,0.876523,None,99.842449,4.641493,78.109328,NaN
7551,2021.0,11.627,-0.249,0.138,11.816,0.086,78.440,0.001,-0.083,-7.112,...,957.0,Wallis and Futuna Islands,15.191371,4.604047,0.857851,None,99.839728,4.641493,76.103109,NaN

In [28]:
len(df_cd['Region, subregion, country or area *'].unique())

236

In [79]:
df_cd.to_sql('final', sqlEngine.connect(), index=False)

7552

In [81]:
df = pd.read_sql("select * from final", sqlEngine.connect());

In [83]:
df.to_csv('test.csv')

In [21]:
df_cd.to_sql('finallnonull1', sqlEngine.connect(), index=False)

7552